<div class="popover">
  <ion-popover-view>
    <ion-pane ng-controller="myCelebFaceController">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Detail</h1>
      </ion-header-bar>
      <div class="box">
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="main-image">
        <div class="list">
          <p>George Clooney</p>
          <p>George Clooney</p>
          <p>George Clooney</p>
          <p>George Clooney</p>
          <p>George Clooney</p>
        </div>
      </div> 
      <ion-footer-bar class="bar-stable">
        <button class="button">Submit</button>
      </ion-footer-bar>
  </ion-popover-view>
</div>